<!doctype html>
<html>
  <head>
    <title>Update GPA</title>
  </head>
  <body>
    <h1>Update GPA</h1>
    <form id="update-gpa-form">
      <label for="program-name">Program Name:</label>
      <input type="text" id="program-name" name="program-name"><br><br>
      <label for="GPALower">GPA Lower:</label>
      <input type="text" id="GPALower" name="GPALower"><br><br>
      <label for="GPAUpper">GPA Upper:</label>
      <input type="text" id="GPAUpper" name="GPAUpper"><br><br>
      <input type="submit" value="Submit">
    </form>
    <div id="update-gpa-message"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // 使用jQuery发送POST请求
     
